<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Produtos</h1>

    <table border="1">
        <thead>
            <th scope="col">Cód.</th>
            <th scope="col">Título do Produto</th>
        </thead>
        <tbody>
            {% for product in object_list %}
            <tr>
                <td scope="row">{{ product.id }}</td>
                <td scope="row">{{ product.product_title }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>